<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
<header>
    <h1>Login</h1>
</header>

<main>
    <form action="/login" method="post" class="registration-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" class="sub">Log In</button>
    </form>

    <p>Don't have an account? <a href="/signup">Create a new account</a></p>
</main>

<script src="src/script.js"></script>
</body>

</html>
