header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 60px;
    transition: 0.5s;
}

.hamburger {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #555;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 15px;
}

/* Стили для заголовка */
.display-4 {
    font-size: 2.5rem;
    font-weight: bold;
}

/* Стили для карточки */
.card {
    border: none;
    border-radius: 0.25rem;
}

.card-header {
    background-color: #343a40;
    color: #fff;
}

.card-body {
    background-color: #212529;
}

.card-title {
    color: #fff;
}

/* Стили для кнопок */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-light {
    background-color: #f8f9fa;
    color: #212529;
    border: none;
}

.btn-light:hover {
    background-color: #e2e6ea;
}

/* Стили для текстового поля ввода */
.form-control {
    border-radius: 0.25rem;
}

/* Стили для главного контейнера */
.bg-light {
    background-color: #f8f9fa;
}

/* Стили для обёртки вьюера */
#viewerCanvas {
    width: 800px;
    height: 800px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Стили для теней */
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175)!important;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}