header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 60px;
    transition: 0.5s;
}

.hamburger {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #555;
}

/* Main Content */
main {
    margin-top: 80px;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
    text-transform: uppercase;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-container {
    width: 200px;
    height: 300px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.book-container:hover {
    transform: translateY(-5px);
}

.book-image {
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.book-details {
    text-align: center;
}

.book-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.book-author {
    font-size: 14px;
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}