body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

header {
    background-color: #555555;
    color: white;
    text-align: center;
    padding: 1em;
}

h1 {
    margin: 0;
}

p {
    text-align: center;
}

main {
    padding: 20px;
}

.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.registration-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #262626;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    font-size: 14px;
}

.registration-form button {
    background-color: rgb(223, 155, 52);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.registration-form button:hover {
    background-color: #3477db;
}

.registration-form p {
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
}

.registration-form a {
    color: #555555;
    text-decoration: none;
    font-size: 14px;
}